table#formularios {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;   
  height: 250px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
}
div#formularios {
  height: 320px;
  border-radius: 10px;
  width: 100%;
}

input, select {
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
  background: #cccccc;
  border:1px solid #000000;
  width:150px
}

textarea {
  border: 1px solid #000000;
  background:#cccccc;
  width:150px;
  height:120px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
}
input:hover, textarea:hover{         
  background: #ffffff;
  border:1px solid #990000;
}

input[type=submit]{        
  background:#006699;
  color:#ffffff;
}

input#buttonCadastro {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius:400px;
}

input#BotaoCadastrar:hover {
  background-color: #067362;
  color: white;
}

